[defaults]
inventory=hosts
roles_path=../../../roles
log_path=~/ansible.log
timeout=30
deprecation_warnings = True
gathering = smart
host_key_checking = False

[privilege_escalation]
become=True
become_method=sudo
become_user=root

[ssh_connection]
ssh_args = -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey,keyboard-interactive -o ControlMaster=auto -o ControlPersist=60s
